{% extends 'base.html.twig' %}

{% block title %}Contactos{% endblock %}

{% block body %}
    <div class="container">
    <h1>Formulario de Contacto</h1>

    {{ include('contactos/_form.html.twig') }}
</div>
{% endblock %}
